.Layout{
  min-height: calc(100vh - 200px);
  margin-top: 100px;
  width: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  @media screen 
  and (device-width:500px)
  and (orientation:landscape){
    height: auto;
  }
}